<app-header></app-header>
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">pokecard</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
    </div>
  </nav>
  
  <mat-card class="example-card">
    <img mat-card-image src="https://assets.tcgdex.net/fr/swsh/swsh3/136/high.jpg" alt="poké">
    <mat-card-content>
      <p>
       
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ajouter</button>
    </mat-card-actions>
  </mat-card>

</div>
<app-poke-list></app-poke-list>
<app-footer></app-footer>